.cruises {
  padding-top: 85px;
  padding-bottom: 122px;

  @media (max-width: ($vp-1024 - 1px)) {
    padding-top: 90px;
    padding-bottom: 98px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    padding-top: 55px;
    padding-bottom: 65px;
  }

  h2 {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-align: center;

    @media (max-width: ($vp-1024 - 1px)) {
      font-size: 26px;
      line-height: 39px;
    }

    @media (max-width: ($vp-768 - 1px)) {
      margin-bottom: 31px;
      font-size: 24px;
      line-height: 36px;
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 260px);
    gap: 27px 30px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: 15px;

    @media (max-width: ($vp-1280 - 1px)) {
      grid-template-columns: repeat(3, 260px);
      justify-content: center;
    }

    @media (max-width: ($vp-1024 - 1px)) {
      grid-template-columns: 1fr 1fr;
      gap: 30px 15px;
      margin: 0 auto;
      margin-left: 15px;
    }

    @media (max-width: ($vp-768 - 1px)) {
      grid-template-columns: 1fr 1fr;
      padding: 0 10px;
      margin: 0 auto;
    }

    @media (max-width: ($vp-600 - 1px)) {
      grid-template-columns: 1fr;
    }
  }

  li {
    margin: 0;
    padding: 0;
    min-height: 386px;
    align-self: stretch;
    display: grid;
    grid-template-columns: 1fr;
    background-color: $color-maya-blue-dark;

    @media (max-width: ($vp-1024 - 1px)) {
      width: 307px;
    }

    @media (max-width: ($vp-768 - 1px)) {
      max-width: none;
      width: 100%;
      margin: 0 auto;
      aspect-ratio: 270/386;
    }

    &:hover,
    &:focus,
    &:focus-within {
      box-shadow: 0 4px 35px rgba($color-tangaroa, 0.15);

      .cruises__description {
        box-sizing: border-box;
        height: 100%;
        background-color: $color-tangaroa;

        @media (max-width: ($vp-768 - 1px)) {
          display: grid;
          grid-template-columns: 1fr;
          padding-bottom: 33px;
        }
      }

      .cruises__card-wrapper {
        height: 270px;
        margin-bottom: 12px;

        @media (max-width: ($vp-1024 - 1px)) {
          transform: translateY(0);
        }

        @media (max-width: ($vp-768 - 1px)) {
          box-sizing: border-box;
          height: auto;
        }
      }

      h3 {
        margin-bottom: 11px;
        transform: translate(0, 0);
      }

      dl {
        display: block;
      }

      a {
        display: flex;
        align-self: flex-end;
      }
    }
  }
}

.cruises__image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  height: 386px;
  grid-column: 1/2;
  grid-row: 1/2;

  @media (max-width: ($vp-1024 - 1px)) {
    height: 386px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    height: auto;
    overflow: auto;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba($color-tangaroa, 0) 50%, $color-tangaroa 100%);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: $color-maya-blue-dark;
  }
}

.cruises__description {
  position: relative;
  box-sizing: border-box;
  grid-column: 1/2;
  grid-row: 1/2;
  place-self: end stretch;
  padding: 29px 25px 20px 25px;
  gap: 5px;
  color: $color-alice-blue;
  overflow: hidden;

  @media (max-width: ($vp-1024 - 1px)) {
    padding: 29px 35px 35px 35px;
  }

  @media (max-width: ($vp-768 - 1px)) {
    padding: 29px 25px 25px 25px;
  }

  h3 {
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    transform: translateX(4px);

    @media (max-width: ($vp-1024 - 1px)) {
      transform: translate(0);
    }
  }

  dl {
    display: none;
    margin: 0;
    padding: 0;
  }

  dt {
    margin: 0;
    margin-bottom: 2px;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  dd {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-quartz;
  }

  a {
    display: none;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 9px;
    background-color: $color-alice-blue;
    color: $color-tangaroa;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    overflow-y: scroll;
    scrollbar-width: none;

    /* stylelint-disable-next-line */
    &::-webkit-scrollbar {
      display: none;
    }

    @include hover-focus {
      background-color: rgba($color-alice-blue, 0.6);
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.cruises__card-wrapper {
  height: auto;
  overflow-y: scroll;
  scrollbar-width: none;

  /* stylelint-disable-next-line */
  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: ($vp-1024 - 1px)) {
    transform: translateY(11px);
  }

  @media (max-width: ($vp-768 - 1px)) {
  }
}
