@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

@mixin hover-focus {
  &:hover {
    @content;
  }

  @include focus {
    @content;
  }
}

@mixin active {
  &:active {
    @content;
  }
}

// Desktop first

@mixin vp-1919 {
  @media (max-width: ($vp-1920 - 1px)) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: ($vp-375 - 1px)) {
    @content;
  }
}

@mixin title-h1 {
  font-family: $ff-Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  color: $color-tangaroa;
  margin: 0;
}

@mixin title-h2 {
  font-family: $ff-Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: $color-tangaroa;
  margin: 0;
}

@mixin title-h3 {
  font-family: $ff-Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-tangaroa;
  margin: 0;
}

@mixin text {
  font-family: $ff-Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-tangaroa;
  margin: 0;
}

@mixin text-link-desk {
  font-family: $ff-Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-alice-blue;
  margin: 0;
}

@mixin text-link-tabl {
  font-family: $ff-Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $color-alice-blue;
  margin: 0;
}


@mixin button {
  padding: 14px 47px;
  background-color: $color-alice-blue;
  color: $color-tangaroa;
  font-family: $ff-Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: block;
  cursor: pointer;
}
